*{
    scroll-behavior: smooth;
}
body{
    background: #1B343C;
    color: white;
}
.h3 {
    font-size: 10px;
}
@media only screen and (max-width: 600px) {
    .hero_title{
        margin-top: 8rem!important;
    }
    .b-align{
        text-align: center;
        margin-top: 3rem!important;
    }
    .img-hero{
       margin-left: 0!important;
    }
    .p-img{
        float: unset!important;
        width: 80%!important;
    }
    .p-title{
        margin-top: 3rem;
    }
    .img-cert{
        margin-top: 2rem;
    }
    .about-t{
        text-align: center;
        margin-left: 0!important;
    }
    .p-about{
        text-align: center;
        margin-bottom: 3rem;
    }
}
